.card-info-hero {
  display: flex;
  flex-direction: row;

}

h4 {
  margin-right: 8px;
  font-weight: bold;
  font-weight: 600;
}

mat-icon {
  margin-right: 8px;
}

.card-info-hero,
mat-card-content {
  padding: 24px;
  box-sizing: content-box;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.description {
  flex-direction: column;
  padding: 0 16px;
}


@media (max-width: 860px) {
  .card-info-hero {
    flex-direction: column;
  }

  .container-img {
    order: 1;

    img {
      width: 100%;
    }
  }
}
