<div *ngIf="hero; else loading" class="view-container">
  <mat-card class="col-12">
    <div class="card-info-hero">
      <div class="container-img">
        <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
      </div>

      <mat-card-content>
        <h2>Información</h2>

        <mat-list>
          <mat-list-item>
            <div class="list-item">
              <h4>Nombre del superheroe:</h4>
              <p>{{ hero.superhero }}</p>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="list-item">
              <h4>Nombre del personaje:</h4>
              <p>{{ hero.characters }}</p>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="list-item">
              <h4>Primera aparción:</h4>
              <p>{{ hero.first_appearance }}</p>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="list-item">
              <h4>Universo:</h4>
              <p>{{ hero.publisher }}</p>
            </div>
          </mat-list-item>
        </mat-list>

        <div class="list-item description">
          <h4>Historía:</h4>
          <p>{{ hero.description }}</p>
        </div>

        <div class="flex justify-content-end pt-2">
          <button mat-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Regresar
          </button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
