<mat-toolbar color="primary">
  <div class="view-container navbar">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      *ngIf="isMobile"
      class="icon-menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/heroes/list']" >Hero App</span>
    <span class="spacer"></span>
    <div *ngFor="let item of navbarLinks">
      <a
        mat-button
        [routerLink]="item.link"
        class="menu-link"
        *ngIf="!isMobile"
        >{{ item.title }}</a
      >
    </div>

    <mat-menu #menu="matMenu">
      <button
        *ngFor="let item of navbarLinks"
        mat-menu-item
        [routerLink]="item.link"
      >
        {{ item.title }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
