<div *ngIf="isLoading; else loading" class="view-container">
  <div class="container-search">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        placeholder="Buscar héroe"
        [formControl]="searchHero"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="grid bm-8">
    <div *ngFor="let hero of heroes" class="col-12 sm:col-4 md:col-4 xl:col-4" >
      <app-hero-card [hero]="hero"></app-hero-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
