.container-img {
  display: flex;
  justify-content: center;
  margin: 6px 0;

  img {
    width: 90%;
    border-radius: 4px;
  }
}

mat-card-actions {
  flex-direction: row-reverse !important;
  margin: 6px;
  grid-column-gap: 6px;
}
